@import url(reset.css);
@import url(common.css);

.wrap {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 80px;
  padding: 10px 250px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.menu_wrap_left {
  display: flex;
}

.menu_wrap_left li {
  margin-right: 90px;
}

.menu_wrap_left li:last-child {
  margin-right: 0;
}

.menu_bar {
  display: none;
}

.sub_menu_wrap {
  width: 100%;
  height: 100vh;
  background-color: white;
  padding: 25px 20px;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 0.5s;
  z-index: 999;
}

.active {
  left: 0;
}

.sub_menu {
  margin-top: 70px;
}

.sub_menu li {
  margin-bottom: 50px;
}

.sub_menu a {
  font-size: 32px;
  color: #1d1d1d;
}

.sub_menu span {
  color: #ff41a1;
  font-family: "Noto Sans KR", sans-serif;
}

.close {
  position: absolute;
  top: 32px;
  right: 20px;
}

.close i {
  font-size: 20px;
}

.sub_sns_wrap {
  width: 230px;
  position: absolute;
  bottom: 25px;
  left: 20px;
  display: flex;
  justify-content: space-between;
}

.sub_sns_wrap .youtube,
.sub_sns_wrap .instagram,
.sub_sns_wrap .facebook,
.sub_sns_wrap .blog {
  width: 40px;
}

.logo {
  width: 244px;
}

.menu_wrap_right {
  display: flex;
  align-items: center;
}

.menu_wrap_right li {
  margin-left: 90px;
}

.menu_wrap_right li:first-child {
  margin-left: 0;
}

.menu_wrap_right span {
  color: #ff41a1;
  font-size: 22px;
  font-family: "Noto Sans KR", sans-serif;
}

.lan a {
  width: 87px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
}

.lan i {
  font-size: 14px;
  color: white;
}

.mo_lan {
  display: none;
}

.mo_lan a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
}

.mo_lan i {
  font-size: 10px;
  color: white;
}

@media screen and (max-width: 1548px) {
  header {
    padding: 10px 100px;
  }
}

@media screen and (max-width: 1250px) {
  header {
    padding: 10px 40px;
  }

  .logo {
    width: 162px;
  }
}

@media screen and (max-width: 1050px) {
  header {
    height: 60px;
    padding: 15px 20px;
  }

  .menu_wrap_left,
  .menu_wrap_right {
    display: none;
  }

  .menu_bar {
    display: block;
  }

  .logo {
    width: 130px;
    margin-left: 25px;
  }

  .menu_bar i {
    font-size: 20px;
    color: white;
  }

  .mo_lan {
    display: block;
  }

  .sub_menu_wrap {
    display: block;
  }
}
/* header end */

.section_1 {
  height: 100vh;
  position: relative;
}

.section_1 h3 {
  position: absolute;
  bottom: 249px;
  left: 152px;
  font-size: 64px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 80px;
  color: white;
  z-index: 5;
}

.section_1 img {
  width: 700px;
  position: absolute;
  top: 15%;
  left: 50%;
  margin-left: -350px;
  animation-name: pinkfong;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes pinkfong {
  0% {
    transform: rotateZ(-10deg);
  }

  100% {
    transform: rotateZ(10deg);
  }
}

.bg_1 {
  width: 100%;
  height: 100vh;
  background: url(../img/section_1/bg_1.png) no-repeat center / cover;
  background-position-x: 100%;
}

@media screen and (max-width: 1250px) {
  .section_1 h3 {
    top: 60%;
    left: 50px;
    font-size: 48px;
    line-height: 58px;
  }

  .section_1 img {
    width: 450px;
    margin-left: -225px;
  }
}

@media screen and (max-width: 1050px) {
  .section_1 {
    height: 59vh;
  }

  .section_1 h3 {
    font-size: 24px;
    top: 53%;
    left: 50%;
    margin-left: -92px;
    line-height: 30px;
    text-align: center;
  }

  .section_1 img {
    width: 250px;
    margin-left: -125px;
    top: 10%;
  }

  .bg_1 {
    height: 59vh;
  }
}
/* section_1 end */

.section_2 {
  padding: 150px 250px;
}

.section_2 h3 {
  font-size: 64px;
  font-weight: 400;
  letter-spacing: -1px;
  color: #1d1d1d;
  margin-bottom: 35px;
}

.section_2 span {
  color: #ff66ae;
}

.con_wrap_2 {
  display: flex;
  margin-bottom: 20px;
}

.con_2 {
  width: 340px;
  height: 380px;
  border: 5px solid rgba(255, 102, 174, 0.3);
  border-radius: 10px;
  margin-right: 20px;
  position: relative;
}

.con_2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.con_2:last-child {
  margin-right: 0;
}

.con_2_1 {
  width: 700px;
  border: none;
  overflow: hidden;
}

.con_2 h4 {
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 30px;
  bottom: 30px;
}

.con_title_2_1 {
  color: #ff66ae;
}

.con_title_2_2 {
  color: #00acff;
}

.con_title_2_3 {
  color: #ff7600;
}

.con_title_2_4 {
  color: #4b0082;
}

.con_title_2_5 {
  color: #ffa116;
}

.con_2_2 {
  border: 5px dashed rgba(255, 102, 174, 0.3);
}

.con_2_2 h4 {
  /* width: 290px; */
  width: 100%;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  text-align: center;
  line-height: 40px;
  color: #ff66ae;
}

.btn_2 {
  width: 180px;
  height: 50px;
  border-radius: 25px;
  background-color: #ff66ae;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.btn_2 a {
  font-size: 20px;
  font-weight: 400;
  color: white;
  margin-top: 3px;
}

.mo_container_2 {
  display: none;
}

.img_box_2 {
  width: 100%;
}

.mo_con_wrap_2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

@media screen and (max-width: 1465px) {
  .section_2 {
    padding: 150px 100px;
  }
}

@media screen and (max-width: 1250px) {
  .section_2 {
    padding: 100px 40px;
  }
}

@media screen and (max-width: 768px) {
  .section_2 {
    padding: 80px 20px;
  }

  .section_2 h3 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .container_2 {
    display: none;
  }

  .mo_container_2 {
    display: block;
  }

  .mo_con_2 {
    position: relative;
    border: 5px solid rgba(255, 102, 174, 0.3);
    border-radius: 10px;
  }

  .img_box_2 {
    border: none;
    margin-bottom: 16px;
  }

  .con_2_2 {
    border: 5px dashed rgba(255, 102, 174, 0.3);
  }

  .mo_con_2 h4 {
    font-size: 18px;
    position: absolute;
    left: 20px;
    bottom: 20px;
  }

  .con_2_2 h4 {
    font-size: 4vw;
    line-height: 5vw;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
  }

  .btn_2 {
    width: 100px;
    height: 35px;
    bottom: 40px;
  }

  .btn_2 a {
    font-size: 14px;
  }
}
/* section_2 end */

.section_3 {
  padding: 0 250px;
}

.swiper {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.swiper-button-next,
.swiper-button-prev {
  --swiper-navigation-size: 44px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: #ff66ae;
}

@media screen and (max-width: 1465px) {
  .section_3 {
    padding: 0 100px;
  }
}

@media screen and (max-width: 1250px) {
  .section_3 {
    padding: 0 40px;
  }
}

@media screen and (max-width: 1050px) {
  .section_3 {
    padding: 0 20px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    --swiper-navigation-size: 30px;
  }
}
/* section_3 end */

.section_4 {
  padding: 150px 250px;
}

.section_4 h3 {
  font-size: 64px;
  font-weight: 400;
  letter-spacing: -1px;
  color: #1d1d1d;
  margin-bottom: 35px;
}

.section_4 span {
  color: #ff66ae;
}

.video_wrap {
  display: flex;
  justify-content: space-between;
}

.video_left {
  margin-right: 20px;
  overflow: hidden;
}

.video_left img {
  transition: 0.5s;
}

.video_left:hover img {
  transform: scale(1.1);
}

.video_right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.con_4 {
  overflow: hidden;
}

.con_4 img {
  transition: 0.5s;
}

.con_4:hover img {
  transform: scale(1.1);
}

@media screen and (max-width: 1465px) {
  .section_4 {
    padding: 150px 100px;
  }
}

@media screen and (max-width: 1250px) {
  .section_4 {
    padding: 100px 40px;
  }
}

@media screen and (max-width: 1050px) {
  .section_4 {
    padding: 80px 20px;
  }

  .section_4 h3 {
    font-size: 32px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .video_wrap {
    display: block;
  }

  .video_left {
    margin-right: 0;
    margin-bottom: 16px;
  }

  .video_right {
    display: block;
  }

  .con_4 {
    margin-bottom: 16px;
  }
}
/* section_4 end */

footer {
  width: 100%;
  padding-top: 300px;
}

.ocean_bg_wrap {
  width: 100%;
  position: relative;
}

.ocean_bg {
  width: 100%;
  height: 40vw;
  background: url(../img/footer/ocean_bg.png) no-repeat center / cover;
}

.babyshark_family {
  position: absolute;
  top: -33%;
  left: 50%;
  transform: translateX(-50%);
}

.footer_title {
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translateX(-50%);
}

.info {
  display: flex;
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
}

.info a {
  font-size: 20px;
  color: #1d1d1d;
}

.copylight {
  font-size: 12px;
  color: #808080;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.sns_wrap {
  width: 70px;
  height: 340px;
  position: fixed;
  bottom: 80px;
  right: 80px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 5;
}

.youtube,
.instagram,
.facebook,
.blog {
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1250px) {
  .babyshark_family {
    width: 40%;
    top: -42%;
  }

  .footer_title {
    width: 20%;
    top: 38%;
  }

  .sns_wrap {
    right: 40px;
  }
}

@media screen and (max-width: 768px) {
  footer {
    padding-top: 80px;
  }

  .info {
    width: 250px;
    bottom: 25px;
  }

  .info a {
    font-size: 14px;
  }

  .copylight {
    width: 100%;
    font-size: 10px;
    bottom: 10px;
    text-align: center;
  }

  .sns_wrap {
    width: 40px;
    height: 187px;
    bottom: 30px;
    right: 20px;
  }
}
