@import url(reset.css);
@import url(common.css);

header {
  width: 100%;
  height: 80px;
  padding: 10px 250px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.menu_wrap_left {
  display: flex;
}

.menu_wrap_left li {
  margin-right: 90px;
}

.menu_wrap_left li:last-child {
  margin-right: 0;
}

.menu_bar {
  display: none;
}

.logo {
  width: 244px;
}

.menu_wrap_right {
  display: flex;
  align-items: center;
}

.menu_wrap_right li {
  margin-left: 90px;
}

.menu_wrap_right li:first-child {
  margin-left: 0;
}

.menu_wrap_right span {
  color: #ff41a1;
  font-size: 22px;
}

.lan a {
  width: 87px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
}

.lan i {
  font-size: 14px;
  color: white;
}

.mo_lan {
  display: none;
}

.mo_lan a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
}

.mo_lan i {
  font-size: 10px;
  color: white;
}

@media screen and (max-width: 1548px) {
  header {
    padding: 10px 100px;
  }
}

@media screen and (max-width: 1250px) {
  header {
    padding: 10px 40px;
  }

  .logo {
    width: 162px;
  }
}

@media screen and (max-width: 1050px) {
  header {
    padding: 10px 20px;
  }

  .menu_wrap_left,
  .menu_wrap_right {
    display: none;
  }

  .menu_bar {
    display: block;
  }

  .mo_lan {
    display: block;
  }
}
/* header end */

.section_1 {
  height: 100vh;
  position: relative;
}

.section_1 h3 {
  position: absolute;
  bottom: 249px;
  left: 152px;
  font-size: 64px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 80px;
  color: white;
  z-index: 10;
}

.section_1 img {
  width: 700px;
  position: absolute;
  top: 15%;
  left: 50%;
  margin-left: -350px;
  animation-name: pinkfong;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes pinkfong {
  0% {
    transform: rotateZ(-10deg);
  }

  100% {
    transform: rotateZ(10deg);
  }
}

.bg_1 {
  width: 100%;
  height: 100vh;
  background: url(../img/section_1/bg_1.png) no-repeat center / cover;
  background-position-x: 100%;
}

@media screen and (max-width: 1250px) {
  .section_1 h3 {
    left: 50px;
    font-size: 48px;
    line-height: 58px;
  }

  .section_1 img {
    width: 450px;
    margin-left: -225px;
  }
}

@media screen and (max-width: 1050px) {
  .section_1 h3 {
    font-size: 24px;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    line-height: 30px;
    text-align: center;
  }

  .section_1 img {
    width: 250px;
    margin-left: -125px;
  }
}
/* section_1 end */

.section_2 {
  padding: 150px 250px;
}

.section_2 h3 {
  font-size: 64px;
  font-weight: 400;
  letter-spacing: -1px;
  color: #1d1d1d;
  margin-bottom: 35px;
}

.section_2 span {
  color: #ff66ae;
}

.con_wrap_2 {
  display: flex;
  margin-bottom: 20px;
}

.con_2 {
  width: 340px;
  height: 380px;
  border: 5px solid rgba(255, 102, 174, 0.3);
  border-radius: 10px;
  margin-right: 20px;
  position: relative;
}

.con_2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.con_2:last-child {
  margin-right: 0;
}

.con_2_1 {
  width: 700px;
  border: none;
}

.con_2 h4 {
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 30px;
  bottom: 30px;
}

.con_title_2_1 {
  color: #ff66ae;
}

.con_title_2_2 {
  color: #00acff;
}

.con_title_2_3 {
  color: #ff7600;
}

.con_title_2_4 {
  color: #4b0082;
}

.con_title_2_5 {
  color: #ffa116;
}

.con_2_2 {
  border: 5px dashed rgba(255, 102, 174, 0.3);
}

.con_2_2 h4 {
  width: 290px;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  line-height: 40px;
  color: #ff66ae;
}

.btn_2 {
  width: 180px;
  height: 50px;
  border-radius: 25px;
  background-color: #ff66ae;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.btn_2 a {
  font-size: 20px;
  font-weight: 400;
  color: white;
  margin-top: 3px;
}

.section_3 {
  padding: 0 250px;
}

.swiper {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.swiper-button-next,
.swiper-button-prev {
  --swiper-navigation-size: 44px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: #ff66ae;
}
/* section_3 end */

.section_4 {
  padding: 150px 250px;
}

.section_4 h3 {
  font-size: 64px;
  font-weight: 400;
  letter-spacing: -1px;
  color: #1d1d1d;
  margin-bottom: 35px;
}

.section_4 span {
  color: #ff66ae;
}

.video_wrap {
  display: flex;
  justify-content: space-between;
}
.video_left {
  margin-right: 20px;
}

.video_right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
/* section_4 end */

footer {
  width: 100%;
  height: 1065px;
  position: relative;
}

.footer_bg_wrap {
  width: 100%;
}

.ocean_bg {
  width: 100%;
  position: absolute;
  top: 300px;
  left: 0;
}

.babyshark_family {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.footer_title {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translateX(-50%);
}

.info {
  display: flex;
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
}

.info a {
  font-size: 20px;
  color: #1d1d1d;
}

.copylight {
  font-size: 12px;
  color: #808080;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.sns_wrap {
  width: 70px;
  height: 340px;
  position: fixed;
  bottom: 80px;
  right: 80px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
